html, body{
    margin: 0px;
    padding: 0px;
}
h1 {
    margin: 0px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}